#instafeed {
display: flex;
flex-wrap: wrap;
position: relative;
}

.bs_instagram_feed_image_source {
width: calc(100% / 6 * 2);
height: 100%;
display: block;
position: absolute;
}

.bs_instagram_feed_image_source:nth-child(2),
.bs_instagram_feed_image_source:nth-child(3),
.bs_instagram_feed_image_source:nth-child(5), 
.bs_instagram_feed_image_source:nth-child(6) {
width: calc(100% / 6);
height: 50%;
}


.bs_instagram_feed_image_source:nth-child(2), 
.bs_instagram_feed_image_source:nth-child(3) {
left: calc(100% / 6 * 2);
}

.bs_instagram_feed_image_source:nth-child(3), 
.bs_instagram_feed_image_source:nth-child(6) {
bottom: 0;
}

.bs_instagram_feed_image_source:nth-child(4) {
left: calc(100% / 6 * 3);
}

.bs_instagram_feed_image_source:nth-child(5),
.bs_instagram_feed_image_source:nth-child(6) {
left: calc(100% / 6 * 5);
}

/*-----------------------------------------------------------------------------------------------------

	Posts

------------------------------------------------------------------------------------------------------*/
   
    /* What I Whore */

            .bs_what_i_whore {
            margin: 50px 0;
            }

    /* Sección galería */

        .bs_section_gallery {
        display: flex;
        }

        .bs_section_gallery > * {
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
        }

        .bs_section_gallery > *:first-child {
        margin-right: 20px;
        margin-left: 0 !important;
        }

        .bs_section_gallery > *:last-child {
        margin-left: 20px;
        margin-right: 0px !important;
        }

