


/*-----------------------------------------------------------------------------------------------------

	Menues

------------------------------------------------------------------------------------------------------*/

	.menu {
		list-style: none;
	}


/*-----------------------------------------------------------------------------------------------------

	UI - botónes, líneas etc

------------------------------------------------------------------------------------------------------*/

	.bs_divider {
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: auto;
	margin-right: auto;
    display: block;
    border-bottom: 1px solid black;
	}

	/* Botónes

	3 Típos
	1. .bs_button fondo blanco texto rosa
	2. .bs_button_o sin fondo, borde negro texto rosa
	3. .bs_button_o_light sin fondo, borde blanco texto rosa

	*/

		.bs_button,
		.bs_button_o,
		.bs_button_o_light {
		padding: 12px 22px;
		color: #DB8C8C;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 2px;
		display: inline-block;
		}

		.bs_button {
		background-color: white;
		}

		.bs_button_o {
		border: 1px solid black;
		}

		.bs_button_o_light {
		border: 1px solid white;
		}



/*-----------------------------------------------------------------------------------------------------

	Pagination

------------------------------------------------------------------------------------------------------*/


	#pagination {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	}

		#pagination .bs_pagination_container {
		display: inline-block;
		border-top: 1px solid gray;
		padding-top: 6px;
		}

			#pagination .page-numbers:not(:last-child) {
			margin-right: 20px;
			}

			#pagination .page-numbers.current {
			color: #ff8f79;
			}


/*-----------------------------------------------------------------------------------------------------

	Posts

------------------------------------------------------------------------------------------------------*/

		/* Post */

			.bs_post {
		    margin: 60px 0;
			}

			.bs_post_white {
			background-color: #fff;
			}

		/* Post header */

			.bs_post_head {
			padding: 20px 0;
			}

				.bs_post_header,
				#bs_post_feed .bs_post_head {
				margin: 20px 0;
				width: 100%;
				max-width: 500px;
				}

				.bs_post_head_light {
				color: #fff;
				}


				.bs_post_head_light .bs_post_title:after {
				border-color: #fff;
				}

				.bs_post_full .bs_post_header {
			    margin: auto;
				}

				.bs_post_cat {
				margin: 0 0;
				}

				.bs_post_title {
				margin: 10px 0px 20px;
				position: relative;
				}

				.bs_post_meta.bs_post_meta_topline {
				display: inline-block;
				padding-top: 6px;
				margin: 0;
				}

				.bs_post_excerpt {
				margin: 40px 0;
				}

			/* Reverse post */

				@media ( min-width: 771px ) {
					.bs_post_reverse .wk-cols {
					flex-direction: row-reverse;
					}

					.bs_post_reverse .bs_post_head {
				   	text-align: right;					}

				}

		/* Post content
		*
		* Estílos del contenido
		*
		*/

			/* Sección galería */

				.bs_section_gallery > *,
				.bs_section_gallery img {
				width: 100%;
				}



			/* Sección de texto */

			.bs_section_text img {
			width: 100%;
			height: auto;
			}


		/* Post full */

			.bs_post_full {
			color: #fff;
			background-size: cover;
		    background-position: center;
		    background-repeat: no-repeat;
		    height: 600px;
		    display: flex;
	       	flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    text-align: center;
		    position: relative;
			}

			.bs_post_full .bs_post_head {
		    width: 100%;
		    max-width: 700px;
			}

			.bs_post_full .bs_post_read_more {
		    position: absolute;
		    top: calc(100% - 20px);
			}

			.bs_post_full .bs_button {
		    position: absolute;
		    top: calc(100% - 21px);
		    left: 0;
		    right: 0;
		    margin: auto;
		    width: 180px;
			}

		/* What I Whore */

		.bs_what_i_whore {
		line-height: 2;
		}

		@media ( min-width: 771px ) {
		    main article .wk-cols {
			height: 100%;
		    }
		}

/*-----------------------------------------------------------------------------------------------------

	Video play icon

------------------------------------------------------------------------------------------------------*/

	.bs_video_container {
	position: relative;
	}

	.bs_video_container .bs_icon_play {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80px;
	height: 80px;
	margin: auto;
	cursor: pointer;
	z-index: 10;
	transition: all .25s ease-in-out;
	}

	.bs_video_container .bs_icon_play:hover {
	transform: scale(1.1);
	}

/*-----------------------------------------------------------------------------------------------------

	Share post block

------------------------------------------------------------------------------------------------------*/

		.bs_share_post_block {
		text-align: center;
		display: flex;
		flex-direction: column;
		}

			.bs_share_post_title {
			margin-bottom: 50px;
			position: relative;
			}

				.bs_share_post_title:after {
				content: "";
				display: block;
				width: 80px;
				border-bottom: 1px solid black;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				margin-top: 15px;
				}

			.bs_button_share {
			font-family: 'Open sans', sans-serif;
			font-weight: 400;
			font-size: 12px;
			padding: 6px 20px;
			background-color: #607D8B;
			margin: 6px;
			color: #fff;
			display: inline-block;
			}

			.bs_button_fb {
			background-color: #46609f;
			}

			.bs_button_tw {
			background-color: #00a9ec;
			}

			.bs_button_pin {
			background-color: #cb262c;
			}

				.bs_button_share .fa {
				margin-right: 6px;
				}





/*-----------------------------------------------------------------------------------------------------

	Slider

------------------------------------------------------------------------------------------------------*/


		.bs_slide {
		position: relative;
		}

			.bs_slide .bs_slide_bg {
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: #343434;
			}

			.bs_slide .bs_slide_content {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			width: calc(100% - 70px);
			height: calc(100% - 70px);
			z-index: 1;
			border: 2px solid white;
			padding: 60px 14%;
			color: white;
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			}

				.bs_slide .bs_slide_content .bs_slide_content_container {
				width: 50%;
				}

			.bs_slide_readmore {
		    position: absolute;
		    left: 0;
		    right: 0;
		    bottom: 16px;
		    z-index: 2;
		    color: white;
		    padding: 0px 14%;
		    width: calc(100% - 70px);
		    margin: auto;
			}

			/* Arrows */

				.bs_arrow:before {
				content: "";
			    color: white;
		        width: 25px;
		        height: 26px;
		        background-color: #fff;
		        display: flex;
		        align-items: center;
		        justify-content: center;
		        padding: 12px;
		        cursor: pointer;
		        background-size: contain;
		        background-repeat: no-repeat;
		        background-position: center;
				}

				.slick-prev .bs_arrow:before {
				background-image: url(../img/arrow-left.svg);
				}

				.slick-next .bs_arrow:before {
				background-image: url(../img/arrow-right.svg);
				}

				.slick-arrow {
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    color: white;
			    display: flex !important;
			    z-index: 2;
			    align-items: center;
				}

				.slick-prev {
			    left: 10px;
				}

				.slick-next {
			    right: 10px;
				}

/*-----------------------------------------------------------------------------------------------------

	Icons bar

------------------------------------------------------------------------------------------------------*/


	.bs_icons {
	padding: 12px;
	display: flex;
	align-items: center;
	font-size: 22px;
	}

	.bs_icon {
	padding: 0 12px;
	display: inline-block;
	}

	.page-work-with-me .bs_icon {
	filter: contrast(100);
	}

	#main-header .bs_icons {
	color: #928282;
	}


	#main-footer .bs_icons {
	color: #fff;
	}

/*-----------------------------------------------------------------------------------------------------

	Related posts

------------------------------------------------------------------------------------------------------*/

	#related-posts {
	background-color: #444444;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 80px;
	}

	.bs_related_post {
	height: 180px;
	background-size: cover;
	background-position: center;
	position: relative;
	color: #fff;
	padding: 0 20px;
	display: flex;
	align-items: flex-end;
	font-size: 16px;
	}


	#related-posts > h3 {
	text-align: center;
	color: #fff;
	padding-top: 20px;
	margin-top: 0;
	}

/*-----------------------------------------------------------------------------------------------------

	Instagram Feed

------------------------------------------------------------------------------------------------------*/

	#instagram-footer {
	background-color: #fff;
	}

	@media ( min-width: 771px ) {
		#instagram-footer {
		height: 24vw;
		}

		#instagram-footer .bs_instagram_feed_images {
		height: 50%;
		}
	}



	.bs_instagram_feed_image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	}

		.bs_instagram_feed_image_source {
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
		}


	#instagram-footer .wk-cols,
	#instagram-footer .wk-col-2,
	#instagram-footer .wk-col-1 {
	height: 100%;
	}
