/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, ul, ol {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	line-height: 1.5;
}

table, form {
	width: 100%;
}


h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: inherit;	
}

a {
	color: #DB8C8C;
	text-decoration: none;
}

ul, ol {
	list-style-position: inside;
}

strong {
font-weight: 700;
}


/* Wordpress */

	/*******************************************************************************
	Calendar */


		#wp-calendar {
		line-height: 2.5;
		}

		    #wp-calendar caption {
		    text-transform: capitalize;
		    }

			#wp-calendar #today {
			background: gainsboro;
			}

			#wp-calendar td {
			text-align: center;
			}