
/*-----------------------------------------------------------------------------------------------------

	UI

------------------------------------------------------------------------------------------------------*/
@font-face {
	font-family: 'Pistilli';
    src:url('../fonts/pistilli/Pistilli.ttf.woff') format('woff'),
        url('../fonts/pistilli/Pistilli.ttf.svg#Pistilli') format('svg'),
        url('../fonts/pistilli/Pistilli.ttf.eot'),
        url('../fonts/pistilli/Pistilli.ttf.eot?#iefix') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
}

body {
font-weight: 300;
font-size: 13px;
line-height: 18px;
color: #424242;
background-color: #f3efef;
}

	.bs_text_pink {
	color: #DB8C8C;
	}

	.bs_text_uppercase {
	text-transform: uppercase;
	}

	.bs_text_italic {
	font-style: italic;
	}

	.bs_text_excerpt {
	font-size: 18px;
	font-style: italic;
	line-height: 22px;
	}

/* Aplica un wrapp adicional para los textos en posts */

	.bs_post_section {
    padding: 20px 0;
	}

	.category-editorial .bs_post_section {
    background-color: #fff;
	}

	.category-fashion .bs_post_section {
    background-color: transparent;
	}

	.category-lifestyle main article {
	    margin-bottom: 60px;
	}

	/* @media ( max-width: 770px ) {
		.bs_section_mobil {
	    padding-left: 30px !important;
	    padding-right: 30px !important;
		}
	} */


	.bs_post_section_no_padding {
	padding-top: 0;
	padding-bottom: 0;
	}

	.bs_post_section_bg {
	height: 100vh;
	max-height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	}

	.bs_post_section_first {
	padding-top: 0;
	}

		.bs_post_section_wrap {
		width: 100%;
		max-width: 840px;
		margin: 0 auto;
		}

/* Columnas para posts */

	@media ( min-width: 771px ) {
		.bs_post_columns {
		columns: 2;
		column-gap: 40px;
		-webkit-columns: 2;
		-webkit-column-gap: 40px;
		}
	}


/* Títulos principales */

	.bs_title_big,
	.bs_title_mid,
	.bs_title_small,
	.bs_post_title,
	.page .bs_section_text h1,
	.page .bs_section_text h2,
	.page .bs_section_text h3,
	.page .bs_section_text h4,
	.page .bs_section_text h5,
	.page .bs_section_text h6 {
	font-family: 'Pistilli', serif;
	line-height: 1.2;
	/*Fix Chrome text rendering*/
  -webkit-font-smoothing : antialiased;
	}

	.bs_title_big,
	.bs_post_title {
	font-size: 48px;
	}

	.bs_title_big{
	font-size: 42px;
	}

	.bs_title_mid {
	font-size: 36px;
	}

	.bs_title_small {
	font-size: 24px;
	}

/* Títulos de categoría */

	/* Texto arriba del título principal del post en el feed */
		body,
		.bs_title_montserrat,
		.bs_title_montserrat_lower,
		.bs_title_menu,
		.bs_post_cat {
		font-family: 'Montserrat';
		}

		.bs_title_montserrat,
		.bs_title_montserrat_lower,
		.bs_title_menu,
		.bs_post_cat {
		font-weight: 300;
		letter-spacing: 2px;
		line-height: 13px;
		font-size: 10px;
		}

		.bs_title_montserrat {
		}

		.bs_title_montserrat_upper,
		.bs_post_cat {
		text-transform: uppercase;
		}

		.bs_post_cat {
			color: #DB8C8C;
		}

		.bs_title_menu {
		font-size: 12px;
		text-transform: uppercase;
		}

/* Títulos Garamond */

	.bs_title_garamond,
	.bs_title_garamond_mid,
	.bs_title_garamond_bit,
	.bs_post_meta,
	.bs_post_excerpt,
	.sub-menu,
	.bs_what,
	.single .bs_section_text h1,
	.single .bs_section_text h2,
	.single .bs_section_text h3,
	.single .bs_section_text h4,
	.single .bs_section_text h5,
	.single .bs_section_text h6 {
		font-family: 'EB Garamond', serif;
		font-style: italic;
		line-height: 1;
	}

	.bs_title_garamond,
	.bs_post_meta {
	font-size: 11px;
	}

	.bs_title_garamond_mid,
	.sub-menu {
	font-size: 18px;
	}

	.bs_slide_content .bs_title_garamond_mid{
		display:none;
	}

	.bs_title_garamond_big,
	.bs_what {
	font-size: 22px;
	}

	.page .bs_section_text h1,
	.page .bs_section_text h2,
	.page .bs_section_text h3,
	.page .bs_section_text h4,
	.page .bs_section_text h5,
	.page .bs_section_text h6  {
	font-size: 48px;
	}

	.single .bs_section_text h1,
	.single .bs_section_text h2,
	.single .bs_section_text h3,
	.single .bs_section_text h4,
	.single .bs_section_text h5,
	.single .bs_section_text h6,
	.page .bs_section_text h1,
	.page .bs_section_text h2,
	.page .bs_section_text h3,
	.page .bs_section_text h4,
	.page .bs_section_text h5,
	.page .bs_section_text h6 {
	margin: 40px 0;
	}

	.single .bs_section_text h1,
	.single .bs_section_text h2,
	.single .bs_section_text h3,
	.single .bs_section_text h4,
	.single .bs_section_text h5,
	.single .bs_section_text h6  {
	font-size: 24px;
	color: #DB8C8C;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	}

	.single .bs_section_text h1:first-child,
	.single .bs_section_text h2:first-child,
	.single .bs_section_text h3:first-child,
	.single .bs_section_text h4:first-child,
	.single .bs_section_text h5:first-child,
	.single .bs_section_text h6:first-child  {
	margin-top: 0;
	}

		.bs_post_title:after,
		.bs_section_text h1:after,
		.bs_section_text h2:after,
		.bs_section_text h3:after,
		.bs_section_text h4:after,
		.bs_section_text h5:after,
		.bs_section_text h6:after,
		.bs_section_text h3:after {
	    content: "";
	    display: block;
	    border-bottom: 1px solid black;
	    width: 80px;
	    padding-top: 10px;
	    position: absolute;
		}


		/* Caso especial para post alternados "Fashion"*/
		.wk-flex-row-reverse .bs_post_title:after {
	    right: 0;
		}


	.bs_post_excerpt {
	font-size: 18px;
	font-style: italic;
	}





