
/*-----------------------------------------------------------------------------------------------------

	UI

------------------------------------------------------------------------------------------------------*/
@font-face {
	font-family: 'Pistilli-Roman';
	src: url(../fonts/pistilli/Pistilli-Roman.otf);
	font-weight: normal;
}

body {
font-family: Montserrat;
font-weight: 100;
font-size: 13px;
line-height: 18px;
background-color: #f3efef;
}

	.bs_text_pink {
	color: #DB8C8C;
	}

	.bs_text_uppercase {
	text-transform: uppercase;
	}

	.bs_text_italic {
	font-style: italic;
	}

	.bs_text_excerpt {
	font-family: "Adobe Garamond Pro", serif;	
	font-size: 18px;	
	font-style: italic;	
	line-height: 22px;
	}

/* Aplica un wrapp adicional para los textos en posts */

	.bs_post_section {
    padding: 20px 0;
	}

	.category-editorial .bs_post_section {
    background-color: #fff;		
	}

	.category-fashion .bs_post_section {
    background-color: transparent;
	}

	@media ( max-width: 770px ) {
		.bs_section_mobil {
	    padding-left: 30px !important;
	    padding-right: 30px !important;	
		}		
	}


	.bs_post_section_no_padding {
	padding-top: 0;
	padding-bottom: 0;
	}

	.bs_post_section_bg {
	height: 100vh;
	max-height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	}

	.bs_post_section_first {
	padding-top: 0;
	}

		.bs_post_section_wrap {
		width: 100%;
		max-width: 840px;
		margin: 0 auto;
		}

/* Columnas para posts */

	@media ( min-width: 771px ) {
		.bs_post_columns {
		columns: 2;
		column-gap: 40px;
		-webkit-columns: 2;
		-webkit-column-gap: 40px;		
		}
	}


/* Títulos principales */

	.bs_title_big,
	.bs_title_mid,
	.bs_title_small,
	.bs_post_title,
	.page .bs_section_text h1,
	.page .bs_section_text h2,
	.page .bs_section_text h3,
	.page .bs_section_text h4,
	.page .bs_section_text h5,
	.page .bs_section_text h6 {
	font-family: 'Pistilli-Roman', 'Playfair Display', 'Open sans', sans-serif;
	font-weight: 700;	
	line-height: 1;	
	}

	.bs_title_big,
	.bs_post_title {
	font-size: 48px;
	}

	.bs_title_mid {
	font-size: 36px;
	}

	.bs_title_small {
	font-size: 24px;
	}

/* Títulos de categoría */

	/* Texto arriba del título principal del post en el feed */
		.bs_title_montserrat, 
		.bs_title_montserrat_lower,
		.bs_title_menu,
		.bs_post_cat {
		font-family: 'Montserrat', 'Open sans', sans-serif;
		font-weight: 100;	
		letter-spacing: 2px;	
		line-height: 13px;
		font-size: 10px;
		}

		.bs_title_montserrat {
		}

		.bs_title_montserrat_upper,
		.bs_post_cat {
		text-transform: uppercase; 		
		}

		.bs_post_cat {
			color: #DB8C8C;
		}

		.bs_title_menu {
		font-size: 14px;
		text-transform: uppercase;
		}

/* Títulos Garamond */

	.bs_title_garamond, 
	.bs_title_garamond_mid, 
	.bs_title_garamond_bit,
	.bs_post_meta,
	.bs_post_excerpt,
	.sub-menu,
	.bs_what,
	.single .bs_section_text h1,
	.single .bs_section_text h2,
	.single .bs_section_text h3,
	.single .bs_section_text h4,
	.single .bs_section_text h5,
	.single .bs_section_text h6 {
		font-family: 'EB Garamond', serif;
		font-style: italic;	
		line-height: 1;
	}

	.bs_title_garamond,
	.bs_post_meta {
	font-size: 11px;	
	}

	.bs_title_garamond_mid,
	.sub-menu {
	font-size: 18px;
	}

	.bs_title_garamond_big,
	.bs_what {
	font-size: 22px;
	}
	
	.single .bs_section_text h1,
	.single .bs_section_text h2,
	.single .bs_section_text h3,
	.single .bs_section_text h4,
	.single .bs_section_text h5,
	.single .bs_section_text h6  {
	font-size: 24px;
	color: #DB8C8C;
	}

	.page .bs_section_text h1,
	.page .bs_section_text h2,
	.page .bs_section_text h3,
	.page .bs_section_text h4,
	.page .bs_section_text h5,
	.page .bs_section_text h6  {
	font-size: 48px;
	}

	.single .bs_section_text h1,
	.single .bs_section_text h2,
	.single .bs_section_text h3,
	.single .bs_section_text h4,
	.single .bs_section_text h5,
	.single .bs_section_text h6,
	.page .bs_section_text h1,
	.page .bs_section_text h2,
	.page .bs_section_text h3,
	.page .bs_section_text h4,
	.page .bs_section_text h5,
	.page .bs_section_text h6 {
	margin: 0 0px 50px;
	}

		.bs_post_title:after,
		.bs_section_text h1:after,
		.bs_section_text h2:after,
		.bs_section_text h3:after,
		.bs_section_text h4:after,
		.bs_section_text h5:after,
		.bs_section_text h6:after, 
		.bs_section_text h3:after {
	    content: "";
	    display: block;
	    border-bottom: 1px solid black;
	    width: 80px;
	    padding-top: 10px;
		}


	.bs_post_excerpt {
	font-size: 18px;
	font-style: italic;
	}





